<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
  	<div id="map"></div>
    	<script>
    		window._cabins = {{site.data.cabins | jsonify}}
    	</script>
		<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="{{ "/assets/js/main.js" | relative_url}}"></script>>
  </body>
</html>
